<div class="stats">

    <section>
        <h4>App</h4>
        <b>Version:</b> {{ frontend.version }} <br />
        <b>Updated:</b> {{ frontend.updated }}
    </section>

    <section>
        <h4>Server</h4>
        <b>Version:</b> {{ backend.version }} <br />
        <b>Updated:</b> {{ backend.updated }} <br />
        <b>Uptime:</b> {{ uptime }}
    </section>

    <section>
        <h4>Database (Mongo)</h4>
        <b>Users:</b> {{ stats.registerd_users }}
    </section>

    <section>
        <h4>Database BCDS (Postgres)</h4>
        <b>Items:</b> {{ stats.bcds_entries }}
    </section>

</div>