ul {
  max-width: 600px;
  margin: 2rem auto;
  padding: 0;

  li {

    list-style-type: none;
    display: grid;
    grid-template-columns: auto 50px;
    padding: 1rem 2rem;

    div.text {
      grid-column: 1;
      padding-right: 1rem;

      span.name {
        display: block;
        font-weight: bolder;
      }

      span.description {
        font-style: italic;
        color: #666;
      }

    }

    div.switch {
      grid-column: 2;
      // float: right;
      // width: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      label {
        margin-top: -2pt;
        display: inline-block;
        cursor: pointer;

        &::before {
          display: block;
          width: 28pt;
          height: 16pt;
          content: '';
          background-color: #9e9e9e;
          border-radius: 7pt;
          transition: background-color 0.15s ease-in-out;
        }

        &::after {
          height: 10pt;
          width: 10pt;
          border-radius: 8pt;
          display: block;
          content: '';
          background-color: #fff;
          margin-top: -13pt;
          margin-left: 3pt;
          transition: margin-left 0.15s ease-in-out;
        }

      }

      input[type=checkbox] {
        display: none;
      }

      input[type=checkbox]:checked + label::before {
          background-color: rgb(33,150,243);
      }

      input[type=checkbox]:checked + label::after {
          margin-left: 15pt;
      }

    }

  }

}

.not-supported {
  display: none !important;
}

// .not-supported {
//   color: #888 !important;

//   & .switch, .switch > * {
//     pointer-events: none;
//     touch-action: none;
//   }

// }
